.jumbotron {
    background-image: url(assets/main.jpg);
    height: 600px;
    background-size: cover;
    text-align: center;
    padding-top: 250px;
}
.jumbotron a {
    margin-top: 100px;
}
.invitation {
    background-image: url(assets/invitation.jpg);
    background-size: cover;
    margin-top: -32px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.form {
    background-image: url(assets/form.jpg);
    background-size: cover;
    margin-top: -32px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.closing {
    background-color: aliceblue;
    text-align: center;
    padding: 100px;
}

.closing h3 {
    font-size: 52px;
    font-weight: 200;
    padding-top: 50px;
}

.closing p {
    font-size: 18px;
    color: #acacac;
    font-weight: 200;
}

.footer {
    background-color: skyblue;
}

/* Desktop */

@media (min-width: 992px) {
    .jumbotron {
        background-image: url(assets/maind.jpg);
        background-position: center;
        height: 745px;
        position: relative;
    }
    .invitation {
        background-image: url(assets/invitationd.jpg);
        background-position: center;
        height: 745px;
        position: relative;
    }
    .form {
        background-image: url(assets/formd.jpg);
        background-position: center;
        height: 745px;
        position: relative;
    }
    .closing h3 {
        font-size: 52px;
        font-weight: 200;
        padding-top: 150px;
    }
}