body {
    margin: 0px;
}
.btn {
    background-color: white;
    border: none;
    color: #545454;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    margin-left: 600px;
    margin-top: 100px;
    cursor: pointer;
    border-radius: 8px;
}
.jumbotron {
    background: url(./assets/main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 750px;
    width: 1520px;
    margin: 0px;
}
.jumbotron marquee {
    font-size: 300px;
    font-family: Hammersmith One
}
.display-4 {
    margin-top: 100px;
    color: #545454;
}
.jumbotron a{
    font-size: 40px;
    font-family: Montserrat;
}
.jumbotron-1 {
    background: url(./assets/invitation.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 1520px;
}
.jumbotron-1 h2 p {
    font-size: 30px;
    font-family: Montserrat
}
.jumbotron-1 h1{
    font-size: 40px;
    font-family: Hammersmith One;
}
.jumbotron-2 {
    background: url(./assets/invitation.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 1520px;
    padding-top: 0px;
}
.jumbotron-2 h2 p {
    font-size: 30px;
    font-family: Montserrat
}
.jumbotron-2 h1{
    font-size: 40px;
    font-family: Hammersmith One;
}
.jumbotron-3 {
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 750px;
    width: 1520px;
}
.jumbotron-3 h2 p {
    font-size: 30px;
    font-family: Montserrat;
    text-align: right;
}
.jumbotron-3 h1{
    font-size: 40px;
    font-family: Hammersmith One;
}
.jumbotron-3 img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 500px;
}